@media screen and (max-width: 955px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
    width: 44px;
    height: 44px;
  }

  .dropdown_menu {
    display: block;
  }

  .dropdown_menu li a {
    color: #fff;
  }

  footer {
    position: relative;
    bottom: 0px;
  }

  .footer-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 758px) {
  section#hero {
    height: 50vh;
  }

  .home .row {
    flex-wrap: wrap;
  }

  .home .row .home-img img {
    width: 100%;
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .home .row .home-content {
    padding: 0;
  }

  .home .row .home-content h3 {
    font-size: 2rem;
  }

  .home .row .home-content p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* content */
@media screen and (min-width: 650px) {
  .hero {
    background-image: url('images/inner-hero-large.jpg');
  }

  .restaurants {
    grid-template-columns: 1fr 1fr;
  }

  .movie {
    grid-template-columns: auto 1fr;
  }

  .movie .movie__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .movie .movie__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }
}
